@import './home.css';
@import './buttons.css';
@import './gameCanvas.css';
@import './alphabet.css';
@import './alphabetContainer.css';
@import './gameInfo.css';
@import './tutorial.css';
@import './fonts.css';
:root{
    --font-color: white;
    --header-font: 'Noto Sans TC', sans-serif;
    --text-font: 'Open Sans', sans-serif;
}

*,*::before, *::after{
    box-sizing: border-box;
    color: var(--font-color);
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    font-weight: 100;
}

body{
    background-color: black;
    font-family: var(--text-font);
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 20px 10px;
    margin-bottom: 20px;
    font-family: var(--header-font)
}

.errorPage{
    text-align: center;
    padding: 5px 10px;
}

.errorPage p, .errorPage i{
    padding: 10px;
}